node_modules
vendor
.git
.env
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
bootstrap/cache/*.php
Dockerfile
docker-compose.yml
docker/*
!docker/nginx.conf
!docker/supervisord.conf
!docker/entrypoint.sh
.gitignore
.editorconfig
README.md
